section.player{
	display: block;
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 100px;
	background-color: #2e2e2e;
	box-shadow: 0 0 1px #7c7c7c;
	transition:bottom .3s ease-in-out;
	z-index: 100500;

	&.hidden + .list{
		max-height: calc(100vh - 60px);
		overflow-y: auto;

		@media screen and (max-width: 700px){
			max-height: calc(100vh - 60px) !important;
		}
	}

	&.hidden{
		bottom:-110px;
		@media screen and (max-width: 700px){
			bottom:-85px;
		}
	}

	@media screen and (max-width: 700px){
		height: 70px;
	}

	.image{
		display: block;
		width: 100px;
		height: 100px;
		float: left;	

		@media screen and (max-width: 700px){
			width: 70px;
			height: 70px;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.title, .artist{
		display: inline-block;
		width: calc(100vw - 305px);
		white-space:nowrap;
		overflow-x:hidden;
		text-overflow:ellipsis;
		margin-left:10px;
		position: absolute;
		color:#fff;
		font-size: 20px;
		line-height: 50px;
		height: 50px;
		@media screen and (max-width: 700px){
			line-height: 35px;
			height: 35px;
			font-size: 16px;
			width: calc(100vw - 140px);
		}
	}

	.title{
		top:0;
		font-weight: bold;
	}

	.seekbar{
		display: block;
		// /* Hide */display:none;
		position: fixed;
		// background-color: indianred;
		width: 100vw;

		height: 3px;

		$track-w: 100vw;
		$track-h: 2px;
		$thumb-d: 20px;

		@mixin track() {
			box-sizing: border-box;
			border: none;
			width: $track-w; height: $track-h;
			background: rgba(204,204,204,0.5);
		}

		@mixin thumb() {
			box-sizing: border-box;
			border: none;
			width: $thumb-d; height: $thumb-d;
			border-radius: 50%;
			background: rgba(255,153,0, 0.8);

			&:hover{
				background: rgba(255,153,0, 1);
			}
		}

		[type='range'] {
			&, &::-webkit-slider-thumb {
				-webkit-appearance: none;
			}
			transform: translateY(-10px);

			margin: 0;
			padding: 0;
			width: $track-w; height: $thumb-d;
			background: transparent;
			font: 1em/1 arial, sans-serif;

			&::-webkit-slider-runnable-track {
				@include track
			}
			&::-moz-range-track { @include track }
			&::-ms-track { @include track }

			&::-webkit-slider-thumb {
				margin-top: .5*($track-h - $thumb-d);
				@include thumb
			}
			&::-moz-range-thumb { @include thumb }
			&::-ms-thumb {
				margin-top: 0;
				@include thumb
			}

			&::-ms-tooltip { display: none }
		}
	}

	.artist{
		top:50px;
		@media screen and (max-width: 700px){
			top:35px;
		}
	}

	.controls{
		width: 200px;
		display:inline-block;
		float:right;
		line-height: 100px;
		text-align: center;
		height: 100%;

		@media screen and (max-width: 700px){
			width: calc(200px / 3);
		}

		.flex{
			display: flex;
		}

		.play-pause{
			display: inline-block;
			width:calc(200px / 3);
			height: 100%;
			font-size: 25px;
			font-weight: bold;
			cursor: pointer;

			@media screen and (max-width: 700px){
				line-height: 70px;
			}

			&:after{
				display: inline-block;
				content: '||';
				color:#fff;
			}

			&.paused:after{
				content: '▶' !important;
				font-size: 30px;
			}
		}

		

		.prev, .next{
			@media screen and (max-width: 700px){
				display: none;
			}
			display: inline-block;
			height: 100%;
			color:#fff;
			letter-spacing: -10px;
			width:calc(200px / 3);
			font-size: 20px;
			text-align:center;
			cursor: pointer;
			img{
				height: auto;
				margin-top: 30px;
				width: 50%;
			}
		}


	}
}